@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css ou votre fichier de styles */
.mat-toolbar-row.spaced-buttons {
    display: flex;
    gap: 16px; /* Vous pouvez ajuster la valeur selon votre préférence */
  }
.deco{
    margin-left: 40%;
}  