<mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
  </mat-toolbar>

<router-outlet></router-outlet>

<footer class="w-full text-center border-t border-grey p-4 pin-b bg-blue-dark">
    <p class="font-bold font-sans text-white">This is our footer</p>
</footer>