<div class="bg-white overflow-hidden shadow-none" *ngIf="post">
  <div class="grid grid-cols-3 min-w-full">

      <div class="col-span-2 w-full">
          <img class="w-full max-w-full min-w-full"
          [src]="post.image"
              alt="Description">
      </div>

      <div class="col-span-1 relative pl-4">
          <header class="border-b border-grey-400">
              <a href="#" class="block cursor-pointer py-4 flex items-center text-sm outline-none focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out">
                  <!-- <p class="block ml-2 font-bold"> {{ post.userId.name }} </p> -->
              </a>
          </header>
          <h2>{{ post.description }}</h2>
          <p>ferezrf</p>

          <div class="absolute bottom-0 left-0 right-0 pl-4">
              <div class="pt-4">
                  <div class="mb-2">

                  </div>
                  <span class="block ml-2 text-xs text-gray-600"> <p>{{ post.date | date }}</p></span>
              </div>

              <div class="pt-4 pb-1 pr-3">
                
                    <app-comment></app-comment>
                  <div class="flex items-start">
                      <textarea class="w-full resize-none outline-none appearance-none" [(ngModel)]="newCommentContent" aria-label="Agrega un comentario..." placeholder="Agrega un comentario..."></textarea>
                      <button class="mb-2 focus:outline-none border-none bg-transparent text-blue-600" (click)="publishComment()">Publicar</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>