<p>connexion works!</p>
<!-- page -->
<div
  class="mx-auto flex min-h-screen w-full items-center justify-center"
>
  <!-- component -->
  <section class="flex w-[30rem] flex-col space-y-10">
    <div class="text-center text-4xl font-medium">Connexion</div>

    <div
      class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500"
    >
      <input
        type="text"
        placeholder="Email"
        [(ngModel)]="loginForm.email"
        class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"
      />
    </div>

    <div
      class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500"
    >
      <input
        type="password"
        placeholder="Mot de passe"
        [(ngModel)]="loginForm.password"
        class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"
      />
    </div>

    <button
    (click)="onLogin()"
      class="transform rounded-sm bg-indigo-600 py-2 font-bold duration-300 hover:bg-indigo-400"
    >
      Connexion
    </button>

    <p class="text-center text-lg">
      Pas de compte?
      <a
      [routerLink]="['/inscription']"
        class="font-medium text-indigo-500 underline-offset-4 hover:underline"
        >en creer un</a
      >
    </p>
  </section>
</div>