<p>create-post works!</p>
<!DOCTYPE html>
<html lang="en">



<body>
    <div class="bg-white shadow p-4 py-8" x-data="{ images: [] }">
        <div class="heading">New Post</div>
        <div class="editor">
            <input class="title" spellcheck="false" placeholder="Title" id="title" [(ngModel)]="postForm.title" name="title" required>
            <textarea class="description bg-gray-100 sec p-3 h-60 border border-gray-300 outline-none"  id="description" [(ngModel)]="postForm.description" name="description"></textarea>

            
  <label for="image">Image:</label>
  <input type="text" id="image" [(ngModel)]="postForm.image" name="image">

            <!-- icons -->
            <div class="icons flex text-gray-500 m-2">
                <label id="select-image">
                    <svg class="mr-2 cursor-pointer hover:text-gray-700 border rounded-full p-1 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13" />
                    </svg>
                   <input hidden type="file" multiple x-ref="fileInput">

                </label>
            </div>

            <!-- Buttons -->
            <div class="buttons flex justify-end">
                <div class="btn border border-indigo-500 p-1 px-4 font-semibold cursor-pointer text-gray-200 ml-2 bg-indigo-500" type="submit" (click)="createPost()">Post</div>
            </div>
        </div>
    </div>

</body>

</html>